*{
        box-sizing: border-box;
        margin:5px;
        padding: 0;
    }
    div{
      border-radius: 5px;
      font-family: 'Montserrat', sans-serif;
    }
    .container{
      width:100%;
      height:500%;
      display:flex;
      flex-wrap:wrap;
      background-color: lightgray;
    }
    .info{
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;;
      width:32vw;
      height:75vh;
      background-color: white;
    }
    img{
      width: 90%;
      height:50%;
      border-radius: 20px;
    }
    p{
      font-family:'Montserrat', sans-serif;
      font-size:5px;
      font-weight: 500;
      line-height: 1px;
      letter-spacing: 0em;
      text-align: left;
    }
    .description{
      line-height:5px;
    }
    .inner-experience{
      display: flex;
      width:100%;
      height:20%;
    }
    .experience{
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;;
      width:32vw;
      height:90vh;
      background-color: white;
      justify-content: space-around;
    }
    .hobbies{
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;;
      width:32vw;
      height:100vh;
      background-color: white;
      justify-content: space-around;
    }
    .hobbypic{
      width:80%;
      height:10%;
      border-radius: 0;
    }
    .file{
      line-height: 4.5px;
    }
    progress{
      display:flex;
      width:200%;
      height:10%;
    }
    .firstrow{
      display:flex;
    }
    .frontend{
      width:23vw;
      height:30vh;
      background-color: white;
    }
    .infrontend{
      display:flex;
      width:80%;
    }
    .design{
      width:23vw;
      height:25vh;
      background-color: white;
    }
    .indesign{
      display:flex;
    }
    .Project{
      width:50vw;
      height:4vh;
      background-color: white;
      display:flex;
      justify-content:center;
    }
    .projects{
      width:40vw;
      height:70vh;
      background-color: white;
      display:flex;
      justify-content: space-around;
      flex-wrap:wrap
    }
    button{
      border-radius: 10px;
      font-size:5px;
    }
    /* .sideproject{
      width:50%;
      height:90%;
    } */
    .details{
      width:150px
    }
    .logo{
      width:50%;
      height:50%;
      border-radius: 0;
    }
    @media screen and (width<400px){
      .container{
        display:flex;
        flex-direction:column;
      }
      .info,.description,.design,.experience,.frontend,.hobbies.projects{
        width:90%;
      }
    }