.flex-container{
    width:80vw;
    display:flex;
    justify-content:space-around;
  }
  span{
    position:absolute;
    transform:rotate(90deg);
    transform-origin: top left;
  }
  .role1,.role4{
    left:31vw;
  }
  .role2,.role5{
    left:57vw
  }
  .role3,.role6{
    left:82vw
  }
  h3,h5{
    font-weight: bold;
  }
  p{
    width:20vw;
  }
  .container{
    display:grid;
    grid-template:1fr 1fr/ 1fr 1fr 1fr;
    margin-left:10vw;
    margin-right:10vw;
  }
  img{
    width: 15vw;
    height: 40vh;
  }
  .person{
    margin:1vw;
  }
  .person2,.person5{
    margin-top:5vw;
  }

  @media screen and (width<420px){
    .container{
      grid-template: 1fr 1fr 1fr/1fr 1fr;
    }
    .person2,.person4,.person6{
    margin-top:10vw;
  }
    .flex-container{
      width:100vw;
      display:flex;
      flex-flow:column wrap
    }
    .role1,.role3,.role5{
    left:33vw;
  }
  .role2,.role4,.role6{
    left:77vw;
  }
  }
